


<h1 class="page-title"><%= t "Products" %></h1>

<%= link_to "New Product", new_product_path, class: "btn btn-primary" if authenticated? %>

<div id="products" class="product-list">
  <% @products.each do |product| %>
    <div class="product-item">
      <%= link_to product_path(product), class: "product-link" do %>
        <%= image_tag product.featured_image, alt: product.name, class: "product-image" if product.featured_image.attached? %>
        <%= product.name %>
      <% end %>
    </div>
  <% end %>
</div>

</div>
